pplp/data
pplp/checkpoints
pplp/logs

# Python
*.pyc
__pycache__

# Coverage
*.coverage
htmlcov

# Misc
run.sh
tags

# PyCharm
.idea

# Rope
.ropeproject

# Distribution / packaging
build/
dist/
pplp.egg-info/

# Protobuf files
*_pb2.py

# line_profiler
*.lprof

# tf_profiler
*.json

# pre-trained model
*.h5
